.features {
  padding-bottom: 0px;
}
.features__title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features__list {
  display: flex;
}

.features__item {
  width: calc(100% / 3 - 30px);
}

.features__item:not(:first-child) {
  margin-left: 30px;
}
.features__container-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
}