.team {
  background: #f5f4fa;
}

.team__list {
  display: flex;
  margin-top: 50px;

.team__item {
  width: calc(100% / 3 - 30px);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;

&:not(:first-child) {
  margin-left: 30px;
    } 
  }
}

.team__worker {
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team__subtitle {
  color: var(--title-color);
  font-size: 16px;
  font-weight: 500;
  line-height: calc(19 / 16);

  margin-bottom: 10px;
}


.team__position {
  font-size: 16px;
  line-height: 1.18;
}


.social__icon {
  fill: currentColor;
  }