
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  
}

.container-text {
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: #ffffff;
}
.container-title {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  cursor: pointer;
}
