body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--text-color);
  letter-spacing: 0.03em;
  line-height: 1.71;
}


.section {
  padding-bottom: 94px;
  padding-top: 94px;
}


.title {
  color: var(--title-color);
  font-size: 36px;
  font-weight: 700;
  line-height: calc(42 / 36);
  text-align: center;
}
